html {
    background-color: rgb(4, 4, 68);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    font-size: xx-large;
    display: block;
    text-align: center;
    float: right;
    z-index: 2;
    word-spacing: 15px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.name {
    font-size: xx-large;
    display: inline-block;
    z-index: 1;
}

.portrait {
    border-style: double;
    width: 300px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom {
    display: block;
    border: clear;
    border-radius: 25%;
}

p {
    text-align: center;
    border: clear;
    padding: 20px;
    margin:0 auto;
    width: 50%;
}

a {
    color: white;
    font-weight: normal;
    transition-property: color;
    transition-duration: 1s;
    text-decoration: none;
}

a:hover {
    color: rgb(138, 138, 216);
}

#resize {
    display: inline-block;
}

footer {
    text-align: center; 
}
